*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family:
     'Franklin Gothic Medium';
}
h1{
    text-align: center;
    padding-bottom: 10px;
}
form{
    box-shadow: 10px 20px 15px;
    width: 300px;
    /* border-style: solid; */
    border: 1px solid lightslategray;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
}
input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid lightslategray;
}
input[type="submit"]{
    color: white;
    background-color: blue;
    
}
label{
    display: block;
}
fieldset{
    padding: 10px;
    margin-top: 10px;
}
#enviar{
    margin-top: 10px;
}